 *{
    box-sizing: border-box;
 }

 body{
    font-family: 'El Messiri', sans-serif;
 }

 :root{
    --main-color: #579BB1;
    --second-color:#F5E9B2;
 }

 .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
 }
 
  @media (min-width:320px) and (max-width:768px)  {
    .container{
        width: 320px;
    } 
    .animation .container{
        flex-direction: column;
        align-items: center;
        max-width: 200px;
     }

     .feat-animation img{
        align-self: center;
     }

     .feat-animation h3{
        text-align: center;
     }

    .text-intro p{
        line-height: 1.6;
    } 
    
    .header .links-menu ul li{
        margin: 24px -22px;
        margin-left: 40px;
        margin-right: -26px;
    }

    .section img{
      display: none; 
   }
}
      
     
 

@media (min-width: 768px) {  
    .container{
        width: 750px;
    }
    .text-intro p{
        line-height: 1.6;
        width: 350px;
    } 

   
 }  

 
@media (min-width: 992px) { 
    .container{
        width: 970px;
    }
 }

 
@media (min-width: 1200px) { 
    .container{
        width: 1170px;
    }
}

/* start header */

.header{
    padding: 20px;
    background-color: #579BB1;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .logo{
    width: 40px;
}

.header .links-menu ul li a{
 
    list-style: none;
    text-decoration: none;
    padding: 4px;
    margin: 0;
    color: #333;
    cursor: pointer;
    transition: .3s;
}

.header .links-menu ul li{
    display: inline-block;
    padding:  0 20px ;
    
}
.header .links-menu ul li a:hover{
    color: white;
}

.links-menu .creat-account {
    border-radius: 5px;
    border:  3px solid black;
}

/* end header */

/* start section */
 .section{
    background-color: #F5E9B2;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

 }

 .section h1{
    margin: 0;
 }

 .text-intro h1 {
    color: #579BB1;
    font-size: 50px;
    padding: 15px 15px;
}
 

 .text-intro p {
    color: #333;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.8;
    padding: 10px 15px;
    width: 80%;
 }

 .section img{
    width: 50%;
    position: absolute;
    left: 10px;
    top: 90px;
    transition: .9s;
}

.section img:hover{
margin-left: 50px;
}
/* end section */

/* start fearures */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 20px;
}

.container .feat img{
    width: 100px;
}

.container .feat h3{
    color: var(--main-color);
    font-weight: bold;
}
/* end features */
  /* start article  */
 .article{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    line-height: 1.8;
    font-size: 50px;
 }
 /* end article  */

 /* start child  */
 .child .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 10px;
 }

 .container .feat-child img{
    width: 150px;
    margin-top: 10px;
 }

 .feat-child h3{
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
 }

 .feat-child p{
    color: #333;
    font-size: 20px;
 }


 /* end  child  */

/* start target*/
.target{
    background-color: var(--second-color);
    font-size: 21px;
    padding: 20px 10px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}

 
/*end target*/

/* last-p */
.last-p{
    padding: 10px 20px;
    color: var(--main-color);
    text-align: center;
    line-height: 1.5;
}

 /* start animation   */
 .animation .container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }

 .feat-animation img{
     width:140px;
 }
 /* end animation   */

 /* start footer  */
 .footer{
    background-color: var(--main-color);
    color: white;
    padding: 30px 10px ;
    text-align: center;
    font-size: 18px;
 }

 .footer img{
    width: 100px;
    margin-left: 10px;
}
 /* end fotter  */


